{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Login
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
    integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
<link rel="stylesheet" href="{{url_for('.static', filename='form.css')}}">
<script src="{{url_for('static', filename='password.js')}}"></script>
{% endblock %}

{% block content %}

<div class="wrapper">
    <div class="sidebar">
        <img src="/static/images/icon.png" alt="Avatar"></img>
        <h1>Bold Ventures</h1>
        <h2>Ldap Usermanagement</h2>


        <ul>
            <!-- <li><a href="/#"><i class="far fa-address-card"></i>Data</a></li>-->
            <li><a href="/logout"><i class="fas fa-sign-out-alt"></i>Logout</a></li>
        </ul>

    </div>

    <div class="container">
        <div class="content">
            <div class="row">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                            <h3 class="text-center">Change Password</h3>
                            <p class="text-center">Use the form below to change your current password</p>

                            {% if bind_error %}
                            <div class="alert alert-danger" role="alert">
                                <p>{{ bind_error }}</p>
                            </div>
                            {% endif %}
                            {% if error %}
                            <div class="alert alert-danger" role="alert">
                                <p>Please fullfill following criteria:</p>
                                {% set list1 = error.split(';') %}
                                {% for item in list1 %}
                                <p>{{ item }}
                                    <p />
                                    {% endfor %}

                            </div>
                            {% endif %}
                            <div class="notify"><span id="notifyType" class=""></span></div>

                            <form method="POST" id="passwordForm" action="/password"
                                oninput='password2.setCustomValidity(password2.value != password1.value ? "Passwords do not match." : "")'>
                                <p>Curret Password</p>
                                <input type="password" class="input-lg form-control" name="current_pw" id="current_pw"
                                    placeholder="Current Password" autocomplete="off">
                                </br>

                                <p>New Password</p>
                                <input type="password" class="input-lg form-control" name="password1" id="password1"
                                    placeholder="New Password" autocomplete="off">
                                </br>

                                <p>Confirm your new Password</p>
                                <input type="password" class="input-lg form-control" name="password2" id="password2"
                                    placeholder="Confirm your new password" autocomplete="off">
                                </br>

                                <input type="submit" class="col-xs-12 btn btn-primary btn-load btn-lg"
                                    data-loading-text="Changing Password..." value="Change Password">
                            </form>
                            <a class="btn btn-secondary" href="/">Return</a>
                        </div>
                        <!--/col-sm-6-->
                    </div>
                    <!--/row-->
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}